#!/bin/bash

# Run integrations locally by simulating what Travis would do

# TODO - make them dynamic
export IB_DOMAIN=".ngrok.io"
export IB_HOST=myid.ngrok.io
export IB_PORT=8080

export POD_HOST=foundation-dev.symphony.com
export POD_PORT=443
export AGENT_HOST=foundation-dev-api.symphony.com
export AGENT_PORT=443
export KM_HOST=foundation-dev.symphony.com
export KM_PORT=443
export KM_AUTH_HOST=foundation-dev-api.symphony.com
export KM_AUTH_PORT=443
export SM_HOST=foundation-dev-api.symphony.com
export SM_PORT=443

# not needed
# export CL_ACCOUNT=
# export CL_SECRET=

export HUBSPOT_CERT_FILE=jira.p12
export HUBSPOT_CERT_PWD=changeit
